/* General styles */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* background-color: black; */
}
#bar
{
    display: none;
}
#check
{
    /* display: none; */
}


/* header starts here */

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 20px;
}

.logo a img{
    /* color: white; */
    width: 175px;
  /* height: px; */
}

/* Nav links */
.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
}
.icons{
    word-spacing: 30px;
}
.nav-links li {
    margin: 10px;
}

.nav-links a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 20px;
    color: rgb(6, 1, 1);
    font-size: 20px;
    padding: 8px 18px;
    transition: 0.3s;
}
.nav-links li a:hover {
    color: #ff0000;
    /* border-radius: 4px; */
}
.navbar .call
{
    padding: 1%;
    border-radius: 40px;
    color: white;
    background-color: red;
    transition: 1s ease-in;
}

.navbar .call:hover{
    color: rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* transform: scale(1.1) rotateY(180deg); */
    /* transform: rotate(45deg); */
    /* transform: skew(60deg); */
}

/* Toggle button (Hamburger Menu) */
.menu-icon {
    font-size: 28px;
    color: rgb(10, 9, 9);
    cursor: pointer;
    display: none;
}

/* Hide checkbox */
#menu-toggle {
    display: none;
}

/* Responsive styles */
@media (max-width: 430px) {
    .logo a img{
        width: 120px;
    }
    .menu-icon {
        display: block;
        color: black;
    }
    .icons{
        display: none;
    }
    .call{
        display: none;
    }
    .nav-links{
        display: none;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        text-align: center;
    }

    .nav-links li {
        margin: 10px;
    }
    .nav-links li a:hover
    {
        /* color: #ff0000; */
    }

    /* Show menu when checkbox is checked */
    #menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
        color: white;
    }
    .info{
        justify-content: center;
    }
}
/* header ends here */

main{
    margin-top: 5%;
}
h1{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px 2px 2px red;
    padding-top: 0px;
}
#bikes div
{
    height: 200px;
    width: 100%;
    border: 1px solid black;
    text-align: center;
}
.ktm{
    background-image: url(/CATALOG/ktm\ cata.jpeg);
    background-size: 350px 200px;
    background-repeat: no-repeat;
}
.bmw{
    background-image: url(/CATALOG/bmw\ cata.jpeg);
    background-size: 350px 250px;
    background-repeat: no-repeat;
}
.yamahar1{
    background-image: url(/CATALOG/yamahar1.jpeg);
    background-size: 350px 200px;
    background-repeat: no-repeat;
}
.ducati{
    background-image: url(/CATALOG/ducati\ cata.jpeg);
    background-size: 320px 200px;
    background-repeat: no-repeat;
}
.mt10{
    background-image: url(/CATALOG/mt10\ cata.jpeg);
    background-size: 300px 220px;
    background-repeat: no-repeat;
}
.aprilia{
    background-image: url(/CATALOG/aprilia-cata.jpeg);
    background-size: 300px 200px;
    background-repeat: no-repeat;
}
.z900{
    background-image: url(/CATALOG/z900\ cata.jpeg);
    background-size: 350px 200px;
    background-repeat: no-repeat;
}
.h2r{
    background-image: url(/CATALOG/ninja-h2r-cata.jpeg);
    background-size: 350px 200px;
    background-repeat: no-repeat;
}
a{
    text-decoration: none;
    text-decoration-color: black;
}
a:hover{
    color: red;
}