*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: black; */
    transition: all ease-in;
}

/* header starts here */

#navbar img
{
    width: 175px;
    height: 30px;
    margin-left: 43%;
    margin-top: 1%;
}
/* header ends here */

/* main starts here */

#login
{
    background-image: url(/bgimg/login_bg_img.jpg);
    background-position: center;
    height: 100vh;
    padding-top: 13%;
    
}
#login #content
{
    margin-left: 34%;
    padding: 20px;
    border: 3px solid rgb(0, 0, 0);
    height: 350px;
    width: 30%;
    box-shadow: 10px 10px 10px ;
    text-align: center;
    background-color: white;
    border-radius: 30px;
}
#login #content h3{
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    font-size: 30px;
}
#login #button
{
    width: 11%;
    height: 20px;
    background-color: black;
    color: white;
    transition: 1s ease-out;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: move 5s ease-out infinite;
}
@keyframes move{
    0%{background-color: black;}
    50%{background-color: rgb(255, 0, 0);}
    100%{background-color: rgb(0, 0, 0);}
}
#login #button:hover
{
    background-color: red;
    color: black;
}
#login #fp{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
#login #signup
{
    height: 15px;
    width: 15%;
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
    border-radius: 25px;
    transition: 1s;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: move 5s ease-out infinite;
}
@keyframes move{
    0%{background-color: black;}
    50%{background-color: rgb(255, 0, 0);}
    100%{background-color: rgb(0, 0, 0);}
}
#login #signup:hover
{
    /* color: rgb(0, 0, 0); */
    /* background-color: rgb(255, 0, 0); */
}
main img
{
    height: 100vh;
    width: 100%;
}
/* main ends here  */

/* responsive */
@media (max-width: 430px)
{
    *
    {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box ;
    }
    #login #content
    {
        border: 2px solid black;
        /* justify-content: center; */
        width: 400px;
    }
    #login #content h3
    {
        font-size: 20px;
    }
    #login #content input
    {
        width: 100px;
    }
    #login #content a #button
    {
        width: 50px;
    }
}