* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background: url(/bgimg/signupbg.jpeg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: slideIn 3s ease-in forwards 2s;
}
@keyframes slideIn {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.logo {
    width: 120px;
    margin-bottom: 20px;
}
.signupbox {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 2px black;
    text-align: center;
    width: 300px;
}

.signupbox input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signupbox button {
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.signupbox button:hover {
    background-color: #000000;
}

.signupbox p {
    margin-top: 10px;
}

.signupbox a {
    color: #ff0000;
    text-decoration: none;
}

.signupbox a:hover {
    text-decoration: underline;
}
@media(max-width:430px)
{

}